@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 0;
}

a {
    text-decoration: none;
}

input {
    border: none;
}

button {
    outline: none;
    border-width: nopne;
    border-style: none;
    border-color: none;
    border-image: none;
}

.container {
    max-width: 1248px;
}

.mb_all {
    margin-bottom: 70px;
}

.mb_20 {
    margin-bottom: 10px;
}

.mb_30 {
    margin-bottom: 25px;
}

.mb_40 {
    margin-bottom: 30px;
}

.mb_100 {
    margin-bottom: 100px;
}

h2 {
    color: var(--black, #313131);
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
}

h2 span {
    color: var(--secondry-color, #FFB230);
    text-transform: uppercase;
    margin-left: 10px;
    margin-right: 10px;
}

.txt_curve {
    position: relative;
    padding-bottom: 20px;
}

.txt_curve::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 40%;
    width: 100%;
    border-style: solid;
    border-color: #FFB230 transparent transparent transparent;
    border-radius: 90% 60% 0 0;
}

.sub_header {
    color: var(--primary-color, #423C6A);
    font-size: 24px;
    font-weight: 500;
}

.forPosition a {
    color: var(--black, #313131);
    font-size: 20px;
    font-weight: 500;
}

.forPosition .activePage {
    font-weight: 700 !important;
    color: #423C6A;
}

footer {
    background: #fff3e0;
}

:focus-visible {
    outline: none;
}

/* Common css End */

/* Header Start */


.navbar {
    padding-top: 15px;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 99999;

}

.navbar-nav {
    gap: 41px;
}

.nav-link {
    text-align: center;
    color: var(--black, #313131);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    /* padding: 0; */

}

.nav-item {
    width: 100px !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.nav-link:focus,
.nav-link:hover {
    color: #423C6A !important;
    font-weight: 700;
    letter-spacing: 0.32px;
}

.menu {
    position: relative;
    padding-bottom: 20px !important;
}

.menu:before {
    position: absolute;
    content: "";
    background: #423C6A;
    height: 20px;
    width: 0;
    bottom: 0;
    left: 0;
    transition: .3s ease-in-out;
}

.active__hov {
    color: #423C6A !important;
    position: relative;
    color: var(--primary-color, #423C6A);
    font-weight: 700;
    letter-spacing: 0.32px;
}


.active__hov:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0%;
    height: 20px;
    width: 100%;
    border-style: solid;
    border-color: #423C6A transparent transparent transparent;
    border-radius: 90% 50% 0 0;
    transition: .3s ease-in-out;
}

.dark_btn {
    color: var(--white, #FFF);
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    letter-spacing: 0.32px;
    border-radius: 5px;
    background: var(--primary-color, #423C6A);
    padding: 10px 16px;
    transition: .3s ease-in-out;

}

.dark_btn:hover {
    color: #423C6A;
    background: #fff3e0;
}

.light_btn {
    color: var(--primary-color, #423C6A);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    line-height: 19.2px;
    letter-spacing: 0.32px;
    border-radius: 5px;
    background: transparent;
    padding: 10px 16px;
    transition: .3s ease-in-out;
}

.light_btn:hover {
    color: #fff3e0;
    background: #423C6A;
}

.profileShow {
    position: relative;
}


.profileShow img {
    border-radius: 50%;

}

.profileShow .child {
    position: absolute;
    top: 61px;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
    background: var(--white, #FFF);
    padding: 31px 20px;
    width: 364px;
    border: 1px solid #C2C9D1;
}

.profileShow:hover .child {
    visibility: visible;
    opacity: 1;
}

.profileShow .arrow {
    transition: 0.3s ease-in;
}

.profileShow:hover .arrow {
    transform: rotate(180deg);
}

.profileName p {
    color: var(--black, #313131);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.profileName span {
    color: var(--black, #313131);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.profileName a {
    color: var(--white, #FFF);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.32px;
    border-radius: 60px;
    background: var(--primary-color, #423C6A);
    padding: 8px 14px;
    transition: .3s ease-in-out;
}

.profileName a:hover {
    opacity: .9;
}

.accSettings a {
    color: var(--black, #313131);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    transition: .3s ease-in-out;
    padding: 8px;
}

.accSettings a:hover {
    opacity: .9;
    background: #E1E4E8;
}


/* Header End */

/* Footer Start */
footer {
    padding: 40px 0;
}

footer p {
    color: var(--black, #313131);
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.linkFooter a {
    color: var(--black, #313131);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    transition: .3s ease-in-out;
}

.linkFooter a:hover {
    text-decoration: underline;
    opacity: .8;
}

.socialLink {
    gap: 20px;
    overflow: hidden;
}

.socialLink img {
    transition: 0.4s ease-in-out;
}

.socialLink img:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.lineBox {
    height: 2px;
    background: linear-gradient(270deg, rgba(66, 60, 106, 0.00) 12.69%, #423C6A 50.52%, rgba(66, 60, 106, 0.00) 86.34%);
    width: 100%;
}

footer article p {
    color: var(--black, #313131);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
    text-align: center;
}

/* Footer End */

/* Banner Section Start */
.banner {
    background-image: url("../images/banner_bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 120px 0;
    position: relative;
}

/* .banner {
    background-color: #fff3e0;
    background-image: url("../images/circle_banner_bg.png");
    background-repeat: no-repeat;
    background-position: center left 40%;
    background-size: contain;
    padding: 120px 0;
} */

.banner span {
    color: var(--primary-color, #423C6A);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 21px;
}

h1 {
    color: var(--black, #313131);
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 21px;
}

.banner p {
    color: var(--primary-color, #423C6A);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 21px;
}

.banner a {
    border-radius: 50px;
    background: var(--primary-color, #423C6A);
    padding: 13px 38px;
    color: var(--white, #FFF);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

/* Banner Section End */

/* Achive Section Start */

.achiveBox {
    padding: 30px 28px 26px 28px;
    border-radius: 10px;
    background: var(--white, #FFF);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.15);
}



.achiveBox span {
    display: block;
    color: var(--primary-color, #423C6A);
    font-size: 24px;
    font-weight: 700;
}

.achiveBox p {
    color: var(--black, #313131);
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}


/* Achive Section End */

/* Index Page End */

/* Contact Page Start */
.forPosition {
    position: relative;
    padding-top: 120px;
}

.contactForm {
    border-radius: 10px;
    background: var(--white, #FFF);
    box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.10);
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 94px 74px;
}

.contactForm label {
    color: var(--gray-400, #92979D);
    font-size: 16px;
    font-weight: 600;
}

.contactForm input {
    border: none;
    border-bottom: 1px solid #C2C9D1;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0;
}

.contactForm input:placeholder {
    color: var(--black, #313131);
    font-size: 16px;
    font-weight: 500;
    padding: 11px;
}

.contactForm textarea {
    border-radius: 3px;
    border: 0.5px solid var(--gray-300, #C2C9D1);
    background: var(--white, #FFF);
    font-size: 16px;
    font-weight: 500;
}

.contactForm span {
    color: #E53E3E;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

/* Contact Page End */

/* Chat with Author Page Start */

.authorChatBox {
    padding: 25px;
    border-radius: 20px;
    background: #fffbf5;
}

.readerBox {
    border-radius: 10px;
    background: var(--white, #FFF);
    box-shadow: 2px 6px 14px 0px rgba(0, 0, 0, 0.10);
    width: 311px;
    padding: 20px 8px;
}

.nameList img {
    border-radius: 50%;
}

.nameList a,
.chatList a {
    font-size: 18px;
    font-weight: 500;
    color: #000;
}

.nameList p,
.grayBox p {
    font-size: 12px;
    font-weight: 500;
    color: #000;
}

.chatList {
    width: 845px;
}

.msgSetting {
    border-radius: 10px;
    background: var(--gray-100, #F0F2F3);
    padding: 14px 12px 12px 22px;
}

.chatOwner {
    border-radius: 10px;
    background: var(--white, #FFF);
    box-shadow: 2px 6px 14px 0px rgba(0, 0, 0, 0.10);
    padding: 20px 30px;
}


.chatList span {
    color: #289A00;
    font-size: 12px;
    font-weight: 400px;
}

.grayBox {
    padding: 10px;
    background-color: #E1E4E8;
    border-radius: 10px 10px 10px 0;
    width: fit-content;
}

.whiteBox {
    padding: 11px;
    background-color: #fff;
}

.grayBox .time {
    color: #313131;
    font-size: 8px;
}

.answerBox .time {
    color: #E1E4E8;
    font-size: 8px;
}

.answerBox {
    padding: 10px;
    border-radius: 10px 10px 0 10px;
    width: fit-content;
    background: #423C6A;
}

.answerBox p {
    font-size: 12px;
    font-weight: 500;
    color: #E1E4E8;
}

.weekDayLine {
    height: .5px;
    width: 90%;
    background-color: #92979D;
}

.dayTime p {
    color: #313131;
    font-size: 8px;
    font-weight: 500px;
    white-space: nowrap;
}


.sendForm {
    background: #FFF;
    box-shadow: 0px -1px 0px 0px #EEE;
    padding: 5px 10px;
}

.file-upload>input {
    display: none;
}

.textField {
    width: 100%;
    border-radius: 5px;
    background: var(--gray-100, #F0F2F3);
    padding: 10px 12px;
}

.textField::placeholder {
    color: var(--black, #313131);
    font-size: 14px;
    font-weight: 400;

}

.sendForm button {
    background-color: transparent;
    transition: 0.3s ease-in-out;
}

.sendForm button:hover {
    opacity: .8;
}

/* Chat with Author Page End */


/* Notification Page Start */

.outterBox {
    border-radius: 20px;
    background: #fffbf5;
    padding: 40px 47px;
    margin-bottom: 100px;
}

.notificationBox {
    padding: 17px 30px;
    border-radius: 10px;
    background: var(--white, #FFF);
    box-shadow: 2px 6px 14px 0px rgba(0, 0, 0, 0.10);
    margin-bottom: 20px;

}

.notification span {
    margin-bottom: 20px;
    color: var(--black, #313131);
    font-size: 22px;
    font-weight: 500;
}

.notification p {
    color: var(--black, #313131);
    font-size: 22px;
    font-weight: 600;
}

.notification img {
    border-radius: 50%;
}

.notification .noteTime {
    color: var(--black, #313131);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    margin-bottom: 12px;
}

.notification article p {
    color: var(--black, #313131);
    font-size: 16px;
    font-weight: 500
}

.recent {
    margin-top: 10px;
}

/* Notification Page End */

/* Preview Book Page Start */

.bookName {
    color: var(--black, #313131);
    font-size: 40px;
    font-weight: 600;
    line-height: 56px;
}



.bookIndex {
    border-radius: 20px;
    background: #fffbf5;
    box-shadow: 7px -3px 14px 0px rgba(0, 0, 0, 0.15);
    padding: 66px;
    gap: 35px;
}

.detalisPage {
    border-radius: 10px;
    background: #D9D9D9;
    height: 1200px;
}

.bookHeight {
    height: 1200px;
    margin-bottom: 35px;
}

.bookScroll {
    overflow-y: scroll;
    height: 1200px;
    padding: 15px;
}

::-webkit-scrollbar {
    width: 15px;
    border-radius: 50px;
    background: var(--gray-200, #E1E4E8);
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: var(--primary-color, #423C6A);
    height: 78px;
}

/* paigination */

.b-pagination-outer {
    margin-top: 35px;
    border: 1px solid var(--gray-300, #C2C9D1);
    border-radius: 5px;
    padding: 13px 20px;
    max-width: 882px;
}

.border-pagination {
    text-align: center;
    margin: 0;
    gap: 11px;
}

.border-pagination li {
    display: inline;

}

.border-pagination li a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 5px 13px;
    color: var(--black, #313131);
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border: 0.682px solid transparent;
    border-radius: 3.41px;
}

.border-pagination li a:hover {
    color: #FFB230;
    border: 0.682px solid var(--secondry-color, #FFB230);
    border-radius: 3.41px;
}

.border-pagination li a.active {
    color: #FFB230;
    border: 0.682px solid var(--secondry-color, #FFB230);
    border-radius: 3.41px;
}


.border-pagination li .activeNext {
    color: #FFB230;
}

.showPage a {
    color: var(--black, #313131);
    font-size: 18px;
    font-weight: 400;
}

.ebookMt {
    margin-top: 200px;
}


.mb-ebook {
    margin-bottom: 100px;
}

/* Preview Book Page End */

/* Bookmark Page Start */

.bookmarkInner {
    border-radius: 10px;
    background: var(--white, #FFF);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.15);
    padding: 23px 18px;
}

.bookmarkInner span {
    color: var(--black, #313131);
    font-size: 24px;
    font-weight: 500;
    display: block;
}

.bookmarkInner article span {
    color: var(--primary-color, #423C6A);
    font-size: 24px;
    font-weight: 700;
    display: block;
}

.bookmarkInner article p {
    color: var(--black, #313131);
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}

.bookMark {
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

/* Bookmark Page End */


/* FAQ Page Start */


.accordion-body {
    padding: 13px 20px;
    color: var(--black, #313131);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.accordion-button {
    border-radius: 10px;
    color: var(--black, #313131);
    font-size: 18px !important;
    font-weight: 600;
    line-height: 25px;
    padding: 32px 20px;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: unset;
    box-shadow: none;
    border-bottom: 1px solid #E1E4E8;
    color: #313131;
}

.accordion-button:focus {
    border-color: #E1E4E8;
}

.accordion-item {
    margin: 18px !important;
    border-radius: 10px;
}

.accordion-button:not(.collapsed) {
    border-radius: unset;
}

.accordion-item:first-of-type {
    background: var(--white, #FFF);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.accordion-item:not(:first-of-type) {
    background: var(--white, #FFF);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.15);
    border-radius: 10px;

}

.accordion-item:first-of-type .accordion-button {
    border-radius: 10px;
}

.accordion-item:first-of-type .accordion-button:not(.collapsed) {
    border-radius: 10px 10px 0 0;
}

.accordion-item:first-of-type {
    border-radius: 10px;
}

.accordion-item:last-of-type {
    border-radius: 10px;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-radius: 10px;
}


.accordion-button::after {
    background-image: url(../images/faq_up.png);

}

.accordion-button:not(.collapsed)::after {
    background-image: url(../images/faq_up.png);
}


/* FAQ Page End */


/* Account Settings Page Start */

.account h3 {
    color: var(--black, #313131);
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 12px;
}

.account p {
    color: var(--black, #313131);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.6px;
}

.account p span {
    color: #FFB230;
}

.account span {
    color: var(--gray-400, #92979D);
    font-size: 16px;
    font-weight: 600;
}

/* Account Settings Page End */